.top-container {
    background-color: #f7f7f9;
    padding-bottom: 5px;
}

.btn-catalog {
    width: 95%;
    margin: 2px 0;
}

/* grid-1 layout */
/* 1 2 3         */
/* 1 4 4         */
.grid-1 {
    display: grid;
    grid-template-columns: auto 33% 33%;
    grid-template-rows: 230px auto;
    grid-template-areas:
    "a b c"
    "a d d";
}
.grid-1-region-1 { grid-area: a; }
.grid-1-region-2 { grid-area: b; }
.grid-1-region-3 { grid-area: c; }
.grid-1-region-4 {
    display:flex;
    flex-direction:column;
    grid-area: d;

    margin-right: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #CCCCCC;
    border-radius: 5px
}

.property-group {
    border-left-color: #f0ad4e;
    border-style: solid;
    border-width: 0 0 0 5px;
    padding: 20px;
    margin: 20px 5px;
}
.property-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.property-item:last-of-type { margin-bottom: 0; }
.property-item > label {
    font-size: 18px;
    font-style: bold;
    margin: 0;
    padding: 6px 2px;
    width: 35%;
    text-align: center;
    vertical-align: middle;
}
.property-item > input {
    border: 1px solid black;
    background-color: #f7f7f9;
    height: 100%;
    margin-left: 10px;
    padding: 6px 20px;
    max-width: 50%;
}

.value-input { width: 50%; }
.value-input-sm { max-width: 30%; }

.no-padding-no-margin {
    padding: 0;
    margin: 0;
}
.no-margin-bottom { margin-bottom: 0px; }

.bs-callout {
    padding: 20px;
    margin: 20px 5px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child { margin-bottom: 0; }
div .bs-callout:last-of-type { margin-bottom: 0; }
.bs-callout code { border-radius: 3px; }
.bs-callout+.bs-callout { margin-top: -5px; }
.bs-callout-default { border-left-color: #777; }
.bs-callout-default h4 { color: #777; }
.bs-callout-primary { border-left-color: #428bca; }
.bs-callout-primary h4 { color: #428bca; }
.bs-callout-success { border-left-color: #5cb85c; }
.bs-callout-success h4 { color: #5cb85c; }
.bs-callout-danger { border-left-color: #d9534f;}
.bs-callout-danger h4 { color: #d9534f; }
.bs-callout-warning { border-left-color: #f0ad4e; }
.bs-callout-warning h4 { color: #f0ad4e; }
.bs-callout-info { border-left-color: #5bc0de; }
.bs-callout-info h4 {
    color: #5bc0de;

}

