{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/COC.js' %}"></script>
    <meta charset="UTF-8">
    <title>COC</title>
</head>
<body>
<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand text-light" href="#">
    <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Cthulhu Mythos 克蘇魯神話
  </a>
</nav>
<ul class="nav justify-content-end bg-secondary">
    <li class="nav-item">
        <a class="nav-link text-light" href="#" style="color: white;">修改</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="#" style="color: white;">分享</a>
    </li>
</ul>
<div class="container top-container">
    <div class="row">
        <div class="col-2">
            <button class="btn btn-catalog btn-outline-secondary tablinks" id="btnCat1" onclick="openCatalog(event, 'catalog1')">基本數值</button>
            <button class="btn btn-catalog btn-outline-secondary tablinks" id="btnCat2" onclick="openCatalog(event, 'catalog2')">角色檔案</button>
            <button class="btn btn-catalog btn-outline-secondary tablinks" id="btnCat3" onclick="openCatalog(event, 'catalog3')">職業技能</button>
            <button class="btn btn-catalog btn-outline-secondary tablinks" id="btnCat4" onclick="openCatalog(event, 'catalog4')">物品武器</button>
            <button class="btn btn-catalog btn-outline-secondary tablinks" id="btnCat5" onclick="openCatalog(event, 'catalog5')">繼承項目</button>
        </div>
        <div class="col-10 no-padding-no-margin">
            <div class="tabcontent" id="catalog1">
                <div class="grid-1">
                <div class="grid-1-region-1">
                    <div class="bs-callout bs-callout-danger">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-STR">力量</span>
                            </div>
                            <input id="input-str" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-STR" placeholder="STR">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-CON">體質</span>
                            </div>
                            <input id="input-con" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-CON" placeholder="CON">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-DEX">敏捷</span>
                            </div>
                            <input id="input-dex" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-DEX" placeholder="DEX">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-APP">外貌</span>
                            </div>
                            <input id="input-app" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-APP" placeholder="APP">
                        </div>
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-POW">意志</span>
                            </div>
                            <input id="input-pow" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-POW" placeholder="POW">
                        </div>
                    </div>
                    <div class="bs-callout bs-callout-warning">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-INT">智力</span>
                            </div>
                            <input id="input-int" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-INT" placeholder="INT">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-SIZ">體型</span>
                            </div>
                            <input id="input-siz" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-SIZ" placeholder="SIZE">
                        </div>
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-EDU">教育</span>
                            </div>
                            <input id="input-edu" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-EDU" placeholder="EDU">
                        </div>
                    </div>
                    <div class="bs-callout bs-callout-success">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-LUK">幸運</span>
                            </div>
                            <input id="input-luk" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-LUK" placeholder="LUK">
                        </div>
                    </div>
                </div>
                <div class="grid-1-region-2" >
                    <div  class="bs-callout bs-callout-default bg-gray">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-HP">生命值</span>
                            </div>
                            <input id="input-hp" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-HP" placeholder="HP">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-MP">魔力值</span>
                            </div>
                            <input id="input-mp" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-MP" placeholder="MP">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-LUCK">幸運值</span>
                            </div>
                            <input id="input-luck" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-LUCK" placeholder="LUCK">
                        </div>
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-SAN">理智值</span>
                            </div>
                            <input id="input-san" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-SAN" placeholder="SAN">
                        </div>
                    </div>
                </div>
                <div class="grid-1-region-3">
                    <div  class="bs-callout bs-callout-default bg-gray">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-build">體格</span>
                            </div>
                            <input id="input-build" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-build" placeholder="Build">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-db">傷害加成</span>
                            </div>
                            <input id="input-db" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-db" placeholder="DB">
                        </div>
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-move">機動性</span>
                            </div>
                            <input id="input-move" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-move" placeholder="Move">
                        </div>
                    </div>
                </div>
                <div class="grid-1-region-4 border-right border-bottom">
                    <div style="height: 50px;">
                        <button id="roll-dice" class="btn btn-outline-secondary"> 擲骰子
                            <!-- <image src="{% static 'images/rolling-dices.png' %}" height="50" width="50"></image> -->
                        </button>
                    </div>
                    <div style="padding-left: 5%; padding-right 5%; height: 100%; padding: 10px 30px;">
                        <div style="height: 34%; padding: 5px 15px;">
                            <label class="label-dice label-dice-d1" id="D1-1">-1</label>
                            <label class="label-dice label-dice-d1" id="D1-2">-1</label>
                            <label class="label-dice label-dice-d1" id="D1-3">-1</label>
                            <label class="label-dice label-dice-d1" id="D1-4">-1</label>
                            <label class="label-dice label-dice-d1" id="D1-5">-1</label>
                            <label class="label-dice label-dice-d1" id="D1-6">-1</label>
                            <label class="label-dice label-dice-d1" id="D1-7">-1</label>
                        </div>
                        <div style="height: 33%; padding: 5px 15px;">
                            <label class="label-dice label-dice-d2" id="D2-1">-1</label>
                            <label class="label-dice label-dice-d2" id="D2-2">-1</label>
                            <label class="label-dice label-dice-d2" id="D2-3">-1</label>
                            <label class="label-dice label-dice-d2" id="D2-4">-1</label>
                        </div>
                        <div style="height: 33%; padding: 5px 15px;">
                            <label class="label-dice label-dice-d3" id="D3-1">-1</label>
                            <label class="label-dice label-dice-d3" id="D3-2">-1</label>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="tabcontent" id="catalog2">
                <div class="grid-1">
                <div class="grid-1-region-1">
                    <div class="property-group">
                        <img src="fake.jpg" height="250" width="250">
                    </div>
                    <div  class="bs-callout bs-callout-default bg-gray">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-pc">調查員名</span>
                            </div>
                            <input id="input-pc" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-pc">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-pl">玩家名</span>
                            </div>
                            <input id="input-pl" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-pl">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-eduLevel">學歷</span>
                            </div>
                            <input id="input-eduLevel" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-eduLevel">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-era">年代</span>
                            </div>
                            <input id="input-era" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-era">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-gender">性別</span>
                            </div>
                            <input id="input-gender" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-gender">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-age">年齡</span>
                            </div>
                            <input id="input-age" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-age">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-locBorn">出生地</span>
                            </div>
                            <input id="input-locBorn" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-locBorn">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-locLive">出生地</span>
                            </div>
                            <input id="input-locLive" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-locLive">
                        </div>
                    </div>
                </div>
                <div class="grid-1-region-2" >
                    <div class="property-group">
                        <div class="property-item">
                            <label>外表特徵</label>
                            <textarea rows="4" cols="50"></textarea>
                        </div>
                    </div>
                </div>
                <div class="grid-1-region-3">
                    <div  class="bs-callout bs-callout-default bg-gray">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-s1">思想信念</span>
                            </div>
                            <input id="input-s1" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-s1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-s2">重要之人</span>
                            </div>
                            <input id="input-s2" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-s2">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-s3">非凡之地</span>
                            </div>
                            <input id="input-s3" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-s3">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-s4">寶貴之物</span>
                            </div>
                            <input id="input-s4" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-s4">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-s5">個人特點</span>
                            </div>
                            <input id="input-s5" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-s5">
                        </div>
                    </div>
                </div>
                <div class="grid-1-region-4">
                    <div class="property-group">
                        <div class="property-item">
                            <label>背景故事</label>
                            <textarea rows="10" cols="50"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabcontent" id="catalog3">
                Catalog3
            </div>
            <div class="tabcontent" id="catalog4">
                Catalog4
            </div>
            <div class="tabcontent" id="catalog5">
                Catalog5
            </div>
        </div>
    </div>
</div>
</body>
</html>