<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Test</title>
</head>
<body>
<h3> Characters </h3>
<div class="container">
    <div class="card-deck">
        <div class="card w-50">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ character.name }}</h5>
                <p class="card-text">{{ character.story }}</p>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">STR: {{ character.strength }}</li>
                    <li class="list-group-item">CON: {{ character.constitution }}</li>
                    <li class="list-group-item">DEX: {{ character.dexterity }}</li>
                    <li class="list-group-item">APP: {{ character.appearance }}</li>
                </ul>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card w-50">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ character.name }}</h5>
                <p class="card-text">{{ character.story }}</p>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">STR: {{ character.strength }}</li>
                    <li class="list-group-item">CON: {{ character.constitution }}</li>
                    <li class="list-group-item">DEX: {{ character.dexterity }}</li>
                    <li class="list-group-item">APP: {{ character.appearance }}</li>
                </ul>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card w-50">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ character.name }}</h5>
                <p class="card-text">{{ character.story }}</p>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">STR: {{ character.strength }}</li>
                    <li class="list-group-item">CON: {{ character.constitution }}</li>
                    <li class="list-group-item">DEX: {{ character.dexterity }}</li>
                    <li class="list-group-item">APP: {{ character.appearance }}</li>
                </ul>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card w-50">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ character.name }}</h5>
                <p class="card-text">{{ character.story }}</p>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">STR: {{ character.strength }}</li>
                    <li class="list-group-item">CON: {{ character.constitution }}</li>
                    <li class="list-group-item">DEX: {{ character.dexterity }}</li>
                    <li class="list-group-item">APP: {{ character.appearance }}</li>
                </ul>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>